.root {
-fx-background-image: url("../img/Finanzamt_(Haus_des_Reichs)_in_Bremen,_2023.jpg");
-fx-background-repeat: no-repeat;
-fx-background-size: contain;
}
.vbx {
-fx-background-color: transparent;
}
.label {
    -fx-background-color: rgba(255,255,255, 50);
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}
.tableView {
-fx-background-color: rgba(255,255,255, 50);
}